<%- include ("sidebar.ejs") %>
<main class="detailmain">
    <h1>Details</h1>
    <h2><%= clickedGroup.group.name%> </h2>
    <section id="groupdetails">
        <article class="groupcard">
         <img src="<%= clickedGroup.group.logo %>" alt="Card artwork of group" class="artwork">
        </article>
        <article class="info">
            <h2>Ability: </h2>
            <p><%= clickedGroup.group.groupAbility %></p>
            <h3>Additional info: </h3>
            <article id="additional">
            <p>Alignment: <%= clickedGroup.group.alignment %></p>
            <p>Number of members: <%= clickedGroup.group.members %></p> 
</main>
</body>
</html>
