<%- include ("sidebar.ejs") %>
<body>
    <h1>Characters</h1>
    <form action="/" method="GET">
        <label for="name">Filter by Name:</label>
        <input type="text" id="name" name="q" value="<%= q %>">
        <button type="submit">Filter</button>
    </form>
    <ul class="cardlist">
        <% filteredCharacters.forEach(character => { %>
            <li class="playercard">
                <div class="cost"><%= character.cost %></div>
                <div class="power"><%= character.power %></div>
                <img src="<%= character.logo %>" alt="<%= character.name %>">
            </li>
        <% }); %>
    </ul>
</body>
</html>